In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('car.data', names=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'outcome'])
data.head()

  buying  maint doors persons lug_boot safety outcome
0  vhigh  vhigh     2       2    small    low   unacc
1  vhigh  vhigh     2       2    small    med   unacc
2  vhigh  vhigh     2       2    small   high   unacc
3  vhigh  vhigh     2       2      med    low   unacc
4  vhigh  vhigh     2       2      med    med   unacc

In [2]:
data.shape

(1728, 7)

In [3]:
from collections import Counter
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [4]:
data.loc[data['doors'] == '5more', ['doors']] = '5'
Counter(data.doors)

Counter({'2': 432, '3': 432, '4': 432, '5': 432})

In [5]:
data.loc[data['persons'] == 'more', ['persons']] = '5'
Counter(data.persons)

Counter({'2': 576, '4': 576, '5': 576})

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   outcome   1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [7]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data.buying = enc.fit_transform(data.buying)
data.safety = enc.fit_transform(data.safety)
data.lug_boot = enc.fit_transform(data.lug_boot)
data.maint = enc.fit_transform(data.maint)
data.doors = enc.fit_transform(data.doors)
data.persons = enc.fit_transform(data.persons)
data.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      0        0         2       1   unacc
1       3      3      0        0         2       2   unacc
2       3      3      0        0         2       0   unacc
3       3      3      0        0         1       1   unacc
4       3      3      0        0         1       2   unacc

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   int32
 1   maint     1728 non-null   int32
 2   doors     1728 non-null   int32
 3   persons   1728 non-null   int32
 4   lug_boot  1728 non-null   int32
 5   safety    1728 non-null   int32
 6   outcome   1728 non-null   object
dtypes: int32(6), object(1)
memory usage: 54.1+ KB

In [9]:
X = data.iloc[:,:-1]
y = data.outcome
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(X,y,test_size=0.3,
                                                  random_state=10)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=7)

In [11]:
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [12]:
y_predict = model.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)

0.9499036608863198

col_0    acc  good  unacc  vgood
outcome
acc       89     1     12      0
good       6    14      1      0
unacc      1     0    370      0
vgood      4     0      1     20